

:root{
    --color-1:#3f3f42;
    --text-color:#f0f0f0;
    --accent-color:#006aff;
    --accent-color2: rgb(216, 216, 172);
    --dark-sqaure: hsl(120, 50%, 20%);
    --light-sqaure: hsl(0,0%,90%);
}
*{
    margin: 0;
    padding: 0;
}

/* Navbar */
.head{
    background-color: var(--color-1);
    margin: 0px;
    padding: 10px 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    text-decoration: none;
}

.logo:hover {
    background-color: var(--accent-color2);
}


.logo h1 {
    color: rgb(0, 0, 0);
}

.logo img{
    height: 50px;
    float: inline-start;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar svg{
    fill: var(--text-color);
    cursor: pointer;
}
.links-container svg{
    fill:  rgb(182, 24, 24); 
}
.navbar svg:hover{
    background-color: var(--accent-color2);
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}
@media(max-width: 580px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 150px;

        background-color: var(--color-1);
        box-shadow: -5px o 5px rgba(0,0,0,0.25);
        transition: 0.5s ease-out;
    }
    .navbar a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding: 15px;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.navbar a{
    height: 100%;
    color: var(--text-color);
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    text-align:center;
    transition: all 0.3s ease 0s;
}

.navbar a:hover{
    background-color: var(--accent-color);
}

/* game boards */
.game{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* board 1 */
.board1{
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 20px;
    grid-template-columns: 20px 80px 80px 80px 80px 80px 80px 80px 80px;
    border: solid 1px black;
    
}

.board1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.white-square{
    background-color: var(--light-sqaure);
}
.black-square{
    background-color: var(--dark-sqaure);
}

/* board 2 */
.board2{
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 20px;
    grid-template-columns: 20px  80px 80px 80px 80px 80px 80px 80px 80px;
    border: solid 1px black;
}

.board2 div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.piece{
    width:100%;
    z-index: 1;
    cursor: pointer;
}

.piece img {
    max-width: 100%;
    width:100%;
    height: auto;
}